name: Docker Test Actions

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - name: test_fail
        id: need
        run: |
          docker pull php:8.1-cli-alpine
          digest=$(docker images -q -f reference=php:8.1-cli-alpine)
          echo ${digest}
          echo "::set-output name=digest::${digest}"

      - name: echo digest
        run: |
          echo ${{ steps.need.outputs.digest }}
          echo ${{ steps.need.outputs.digest }} > digest.8.1-cli-alpine

      - name: commit and push
        uses: actions/checkout@v2
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "bot@zorzz.com"
          git add .
          git commit -m "feat: update digest"
          git push origin main
