name: Docker Test Actions

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: test_fail
        id: need
        env:
          FILE: "./install-php-extensions"
        run: |
          set -eux
          install_file=$FILE
          curl -sSLf -o $install_file https://github.com/mlocati/docker-php-extension-installer/releases/latest/download/install-php-extensions
          hash_str=${{ hashFiles(env.FILE) }}
          echo $hash_str
          docker pull php:8.1-cli-alpine
          digest=$(docker images -q -f reference=php:8.1-cli-alpine)
          cat digest_8.1-cli-alpine
          olddigest=$(cat digest_8.1-cli-alpine)
          echo ${digest}
          echo ${olddigest}
          echo "::set-output name=digest::${digest}"
          echo "::set-output name=olddigest::${olddigest}"

      - name: echo digest
        run: |
          echo ${{ steps.need.outputs.digest }}
          echo -n ${{ steps.need.outputs.digest }} > digest_8.1-cli-alpine
          cat digest_8.1-cli-alpine
          echo ${{ steps.need.outputs.olddigest }}

      - name: commit and push
        if: ${{ steps.need.outputs.digest != steps.need.outputs.olddigest }}
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "bot@zorzz.com"
          git add .
          git commit -m "feat: update digest"
          git push origin main
